@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    overflow: hidden;
}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.content .name{
    font-size: 60px;
    color: brown;
    font-family: 'Great Vibes', cursive;
}
.content .des{
    font-size: 25px;
    font-family: monospace;
    text-align: center;
}
.heart{
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url(heart.png);
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
    animation: fallingHeart 5s ease-in-out infinite;
}
@keyframes fallingHeart{
    0%{
        transform: translate(0 , 0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(100px , 50vh);
        opacity: 0;
    }
}
